body {
    background: url('img/img-cachorrinhos.jpg');
    text-align: center;
}

button {
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 25px;
    margin-bottom: 20px;
    background-color: lightblue;
    margin: 50px
};