* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.formulario {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.formulario > div {
    margin-top: 25px;
}

label {
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-right: 15px;
    vertical-align: top;
}

input[type="text"], select, input[type="number"] {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px;
}

textarea {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
}   

.btn {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.btn_cinza {
    background-color: #ccc;
    color: #4a4a4a;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 15px;
}

.btn_roxo {
    background-color: #9013FE;
    color: #4a4a4a;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 15px;

}