* {
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
}
.navegacao__menu {
    list-style: none;
    padding-left: 0px;
}
.navegacao__menu li {
    display: inline-block;
    margin: 0 20px 0 0px;
    color: #5d1277
   
}
.menu__link {
    text-decoration: none;
    color: #5d1277;
    font-weight: bold;
    text-transform: uppercase; 
}
.logo {
    width: 200px;
    color: #5d1277;
}

.container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.autora{
    width: 200px
}
.autora__foto {
    width: 200px;
    border-radius: 50%;
    display: block;
}

.artigo {
    width: 500px;
}

.conteudo{
    margin-top: 30px;
}
.autora__nome {
    font-weight: bolder;
}
.rodape{
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.logo--pequeno{
    width: 100px;
    margin: 0 20px;
}